<header>
	<img src="img/logo.svg" alt="logo">
	<nav>
		<ul>
			<li class="hours-6">
				<a href="/">Zavlažování</a>
			</li>
			<li class="hours-24">
				<a href="/terminal">Terminal</a>
			</li>
			<li class="hours-48">
				<a href="/grafana">Grafana</a>
			</li>
			<li class="hours-64">
				<a href="/">??</a>
			</li>
			<li class="weather">
				<a href="/">??</a>
			</li>
		</ul>
	</nav>
	<hr class="<%= typeof hours!='undefined' ? "hours-" + hours : '' %>">
</header>