<!doctype html>
<html lang="cs-CZ">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,300' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="js/scripts.min.js"></script>
</head>
<body data-page="<%= page %>">