<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid" role="main">
	<div class="loader-container">
		<div class="loader"></div>
	</div>
	<button data-id="1" data-status="1">jednička ON</button>
	<button data-id="1" data-status="0">jednička OFF</button>
</div>
<script>
	//charts(-<%- hours %>);
jQuery(document).ready(function($) {
	$("body").on("click", "button", function(event) {
		var socket = io();
		socket.emit('valve', {valve: $(this).data("id"), status: $(this).data("status")});
	});
});
</script>
<% include ../partials/footer %>