<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid" role="main">
	<div class="loader-container">
		<div class="loader"></div>
	</div>
	<div id="chart1"></div>
	<div id="chart2"></div>
	<div id="chart3"></div>
</div>
<script>
	charts(-<%- hours %>);
</script>
<% include ../partials/footer %>