<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid" role="main">
	<form action="" class="24">
		<label for="m">2.4 GHz</label>
		<input id="m" autocomplete="off" /><button>Send</button>
	</form>

	<form action="" class="433">
		<label for="m">433M Hz</label>
		<input id="m" autocomplete="off" /><button>Send</button>
	</form>
</div>
<script>
jQuery(document).ready(function() {
	var socket = io();
	$('form.24').submit(function(){
		$input = $(this).find("input");
		socket.emit('2.4ghz', $input.val());
		$(this).find("input").val('');
		return false;
	});
	$('form.433').submit(function(){
		$input = $(this).find("input");
		socket.emit('433mhz', {id: 3, value: $input.val()});
		$input.val('');
		return false;
	});
});
</script>
<% include ../partials/footer %>