<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid" role="main">
	<ul class="messages"></ul>
</div>
<script>
jQuery(document).ready(function() {
	var socket = io();

	socket.on('terminal', function(data){
		$('.messages').append($('<li>').text(data.datetime + ": " + data.data));
	});
});
</script>
<% include ../partials/footer %>