<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid" role="main">
	<div id="chart1"></div>
	
	<a href="#" class="show-hidden"><span class="caret"></span>Zobrazit teplotu ovládací desky</a>
	<div class="hidden-content">
		<div id="chart3"></div>
	</div>
</div>
<script>
weather(<%- rain_gauge_precision %>);

jQuery(document).ready(function() {
	$(".show-hidden").click(function(event) {
		event.preventDefault();
		var $element = $(this).next(".hidden-content");

		if($element.height() == 0){
			$element.animate({height: 400}, "slow");
		}
		else {
			$element.animate({height: "0"}, "slow");
		}
		
		$(this).find('.caret').toggleClass('open');
		$("html, body").animate({ scrollTop: $(document).height() }, "slow");
	});
});
</script>
<% include ../partials/footer %>